/* CSS Reset */

@font-face {
  font-family: CodeBold;
  src: url("../fonts/code/CODE\ Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: Codelight;
  src: url("../fonts/code/CODE\ Light.otf") format("opentype");
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Karla", sans-serif;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  font-family: Codelight, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
/* Custo CSS Start */
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.header-wrapper {
  background-image: url("../img/fashion-template-Recovered-Recovered.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
  height: 90vh;
  /* position: absolute; */
  width: 100%;
  position: relative;
}

.header-top-area {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
.header-top-area a {
  color: #5b4060;
  display: inline-block;
  padding: 15px;
}
.header-top-area a.trigger-menu {
  display: none;
}
.header-top-area .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
}
.header-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-left ul li {
  display: inline-block;
  margin-right: 20px;
}
.header-right a {
  color: #5b4060;
  display: inline-flex;
  align-items: center;
  padding: 15px;
}
.search-trigger i {
  font-size: 20px;
  color: #5b4060;
  cursor: pointer;
  padding-left: 10px;
}
.homepage-slider-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.single-slide-item {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}
.single-slide-item img {
  margin-bottom: 0;
  max-width: 80%;
  margin-top: auto;
  height: auto;
}
.slide-text-tablecell {
  z-index: 120;
  position: relative;
  margin-top: 266px;
  margin-right: -291px;
}
.slide-text-tablecell p:nth-of-type(1) {
  font-size: 120px;
  color: #e84f88;
  font-family: Codelight;
  margin-bottom: -86px;
}
.slide-text-tablecell p:nth-of-type(2) {
  font-size: 120px;
  color: #e84f88;
  font-family: CodeBold;
  margin-bottom: -86px;
}
.slide-text-tablecell p:nth-of-type(3) {
  font-size: 120px;
  color: #6db0c6;
  font-family: Codelight;
  margin: 0;
}
.big-menu ul {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  justify-content: center;
}
.big-menu ul li {
  /* display: inline-flex;
    align-items: center; */
  /* padding: 100px; */
  /* background-color: #6db0c6; */
}
.big-menu ul li:nth-of-type(1) a {
  color: #5b3f61;
  display: block;
  padding: 260px 20px 60px 0;
  text-align: right;
  font-family: codelight;
  font-size: 48px;
  background-color: #ecf3e8;
}
.big-menu ul li:nth-of-type(2) a {
  color: #e84f88;
  display: block;
  padding: 260px 20px 60px 0;
  text-align: center;
  font-family: codeBold;
  font-size: 48px;
  background-color: #f1e5e5;
}
.big-menu ul li:nth-of-type(3) a {
  color: #6db0c6;
  display: block;
  padding: 260px 20px 60px 0;
  text-align: center;
  font-family: codelight;
  font-size: 48px;
  background-color: #f6f3e6;
}
.big-menu ul li:nth-of-type(4) a {
  color: #5b3f61;
  display: block;
  padding: 260px 0px 60px 20px;
  text-align: left;
  font-family: codelight;
  font-size: 48px;
  background-color: #e8ecf3;
}
@media screen and (max-width: 800px) {
  .header-left ul li {
    margin-right: 10px;
  }
  .header-right a {
    padding: 10px;
  }
  .slide-text-tablecell {
    margin-right: 0;
    text-align: center;
    margin-top: auto;
  }
  .slide-text-tablecell p:nth-of-type(1),
  .slide-text-tablecell p:nth-of-type(2),
  .slide-text-tablecell p:nth-of-type(3) {
    font-size: 60px;
    margin-bottom: -43px;
  }
  .big-menu ul {
    grid-template-columns: 1fr;
  }
  .big-menu ul li a {
    padding: 100px 0;
    text-align: center !important;
    padding-bottom: 50px;
  }
  .single-slide-item img {
    /* margin-bottom: 0;
    
    margin-top: auto;
    height: auto; */
    max-width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
  .header-wrapper {
    height: 60vh;
  }
}
/* Product Section */
.single-product-item {
  width: 224px;
  height: 306px;
  background-color: #f6f0ef;
  position: relative;
  padding: 20px;
}
.single-product-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: all 0.2s;
  z-index: 100;
}
.single-product-item:hover::before {
  visibility: visible;
}

.single-product-item:hover .product-hover > a {
  display: block;
}
.single-product-item img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateX(-50%); */
  width: 189px;
  height: 257px;
}
.products-area {
  margin-top: 140px;
}
.product-top-links {
  text-align: right;
}
.product-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
  z-index: 120;
}
.product-hover a {
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 16px;
  display: none;
  color: #fff;
}
.product-bottom-info {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  position: absolute;
  bottom: -100px;
  left: 0;
  background-color: #fff;
  padding: 0 10px;
  font-family: "Karla", sans-serif;
  z-index: 120;
  display: none !important;
  transition: bottom 0.5s ease;
}
.single-product-item:hover .product-bottom-info {
  bottom: 0px;
  display: flex !important;
  /* visibility: visible; */
}
